doctype html
html
  head
    title SA Tech
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    style.
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      input {
        font-size: 24px;
        width: 400px;
      }
  body
     
    center
      h1 SA Tech
    div(class="container well")
      h2 Join the Slack Team
      form(method="POST" action="/invite")#join-form  
        div(class="row")
          div(class='col-sm-10')
            input(type="text", style="width:100%" name="email", placeholder="Enter your email")#slack-email
            
          div(class='col-sm-2')
            button(class="btn btn-large btn-primary" type="submit") Send Invite
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
